* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.clock {
  width: 400px;
  height: 400px;
  background: #fff;
  background-image: url(../media/images/clock-body.png);
  background-size: cover;
  background-position: center center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.clock::before {
  content: "";
  width: 15px;
  height: 15px;
  background-color: #222;
  border-radius: 50%;
  position: absolute;
}

.s {
  width: 0px;
  height: 250px;
  display: flex;
  justify-content: center;
  transform: rotate(0deg);
  z-index: 1;
}

.s::before {
  content: "";
  width: 7px;
  height: 178px;
  background-image: url(../media/images/s-arrow.png);
  background-size: cover;
  background-repeat: no-repeat;

  position: absolute;
}

.m {
  width: 0px;
  height: 210px;
  display: flex;
  justify-content: center;
  transform: rotate(45deg);
}

.m::before {
  content: "";
  width: 15px;
  height: 150px;
  background-image: url(../media/images/min-arrow.png);
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
}

.h {
  width: 0px;
  height: 165px;
  display: flex;
  justify-content: center;
  transform: rotate(140deg);
}

.h::before {
  content: "";
  width: 20px;
  height: 140px;
  background-image: url(../media/images/hour-arrow.png);
  background-size: contain;
  background-repeat: no-repeat;

  position: absolute;
  left: -9px;
}

/* Responsive css*/

@media all and (max-width: 768px) {
  .clock {
    width: 300px;
    height: 300px;
  }
}
