@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #f2f2f2;
}

.container {
  width: 600px;
  margin: 200px auto;
  background-color: #fff;
  padding: 20px 20px 30px;
}

.counter {
  font-weight: 700;
  display: flex;
}

.counter span {
  position: relative;
}
.counter span:nth-child(1)::after {
  content: "Days";
}

.counter span:nth-child(2)::after {
  content: "Hours";
}

.counter span:nth-child(3)::after {
  content: "Minutes";
}

.counter span:nth-child(4)::after {
  content: "Seconds";
}

.counter span::after {
  font-size: 16px;
  font-weight: 400;
  position: absolute;
  bottom: -10px;
  left: 25%;
}
